.ui-base {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: @gray;
	overflow-y: auto;
}

html,body {
    font-family: 'Open Sans', serif;
	font-size: 15px;
    height:auto !important; 
    min-height: 100%; 
    height: 100%; 
}

p, input, textarea{
	font-family: 'Varela Round', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', sans-serif;
}

