@gray: #585858;

@screen-xs: 320px;
@screen-s: 480px;
@screen-m: 768px;
@screen-l: 992px;
@screen-xl: 1200px;

.ui-base {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: @gray;
	overflow-y: auto;
}
