@gray: #585858;

@screen-xs: 320px;
@screen-s: 480px;
@screen-m: 768px;
@screen-l: 992px;
@screen-xl: 1200px;

.ui-base {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: @gray;
	overflow-y: auto;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-repeat: no-repeat;
    background-position: center;
}

.error {
    color: #D8000C;
    background-color: #FFBABA; 
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

html,body {
    font-family: 'Sorts Mill Goudy', serif;
	font-size: 15px;
}

p, input, textarea{
	font-family: 'Varela Round', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', sans-serif;
}
